bertopic
contractions
datetime
gensim
kaleido==0.1.*
lda
nbformat
numpy
openpyxl
pandas_profiling
plotly.express
pyLDAvis
pyodbc
python-dotenv
spacy
streamlit
textblob
textblob-de
tweetopic
tweetopic[viz]
wordcloud
nbformat
ipykernel
notebook
